In [ ]:
!pip install pandas

In [ ]:
import pandas as pd 
import numpy as np

s = pd.Series() 
print("Pandas Series: ", s) 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
s = pd.Series(data) 
print("Pandas Series:\n", s)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:
import pandas as pd 
   
df = pd.DataFrame() 
print(df)
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
df = pd.DataFrame(lst) 
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\JANANI SHANMUGAM\OneDrive\Desktop\PDA\data.csv")
print(df.head())

         Date  Temperature
0  2010-01-01    27.483571
1  2010-01-02    24.308678
2  2010-01-03    28.238443
3  2010-01-04    32.615149
4  2010-01-05    23.829233

In [3]:
import pandas as pd

df = pd.read_csv(r"C:\Users\JANANI SHANMUGAM\OneDrive\Desktop\PDA\data.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         8000 non-null   object
 1   Temperature  8000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 125.1+ KB
None

In [7]:
df = df.fillna(0)
print(df.isnull().sum())

Date           0
Temperature    0
dtype: int64

In [30]:
import pandas as pd 
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [31]:
import pandas as pd
s = pd.Series([85, 90, 78], index=["A", "B", "C"])
print(s)

A    85
B    90
C    78
dtype: int64

In [20]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])
print(s[0])     
print(s["A"])   
print(s)

10
10
A    10
B    20
C    30
dtype: int64

C:\Users\JANANI SHANMUGAM\AppData\Local\Temp\ipykernel_3820\1496511126.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [21]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])
s.mean(), s.max(), s.min()

(20.0, 30, 10)

In [22]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])
data = { 
"Name": ["Amit", "Riya", "Karan"], 
"Marks": [85, 90, 78] 
} 
df = pd.DataFrame(data)

print(df["Name"])
print(df["Marks"])
print(df.iloc[0])
print(df)

0     Amit
1     Riya
2    Karan
Name: Name, dtype: object
0    85
1    90
2    78
Name: Marks, dtype: int64
Name     Amit
Marks      85
Name: 0, dtype: object
    Name  Marks
0   Amit     85
1   Riya     90
2  Karan     78

In [23]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df["Name"]
print(df["Name"])

0     Amit
1     Riya
2    Karan
Name: Name, dtype: object

In [24]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df.loc[0] 
df.iloc[1]

print(df.loc[0])
print(df.iloc[1])

Name     Amit
Marks      85
Name: 0, dtype: object
Name     Riya
Marks      90
Name: 1, dtype: object

In [25]:
 s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df["Grade"] = ["A", "A+", "B"]
print(df["Grade"])

0     A
1    A+
2     B
Name: Grade, dtype: object

In [26]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df.drop("Grade", axis=1)
print(df)

    Name  Marks Grade
0   Amit     85     A
1   Riya     90    A+
2  Karan     78     B

In [27]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df[df["Marks"] > 80]
print(df)

    Name  Marks Grade
0   Amit     85     A
1   Riya     90    A+
2  Karan     78     B

In [28]:
s = pd.Series([10, 20, 30], index=["A", "B", "C"])

df.describe()
print(df)

    Name  Marks Grade
0   Amit     85     A
1   Riya     90    A+
2  Karan     78     B